

<!DOCTYPE html>
<html>
<head>
    <title>Deadline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="http://localhost:8080"><img src="\image\logo.png" width="60" height="60"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>
        <span style="color: white ; font-size: 14px;">Toshkent axborot texnalogiyalari universiteti<br>Kif fakulteti</br></span>

    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="margin: 5px 50px 10px 30px">
        <ul class="navbar-nav" >
            <li class="nav-item">
                <a style="margin: 0px 0px 0px 20px" class="nav-link" href="http://localhost:8080/teacher" >Teacher</a>
            </li>
            <li class="nav-item">
                <a style="margin: 0px 0px 0px 20px" class="nav-link" href="about.html">About</a>
            </li>

        </ul>
    </div>
    <div>
        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" style="width: 150px;height: 30px; margin: 10px 10px 10px 10px;">
                </div>
                <div class="col">
                    <input type="password" class="form-control" placeholder="Enter password" name="pswd"
                           style="width: 150px;height: 30px; margin: 10px 10px 10px 10px;">
                </div>
                <div class="button">
                    <button type="button" class="btn btn-secondary" style="width:100px ; height : 31px; margin: 9px 10px 10px 10px;">Submit</button>

                </div>
            </div>
        </form>
    </div>

</nav>
<div class="row">
    <div id="#demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\image\tuit_slide_four.jpg" alt="Los Angeles" width="1364 ">
            </div>
            <div class="carousel-item">
                <img src="\image\tuit_slide_five.jpg" alt="Chicago" width="1364">
            </div>
            <div class="carousel-item">
                <img src="\image\tuit_slide_one.jpg" alt="New York" width="1364">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>



</div>
<div style="background-color:#505458;">
    <h1 style="text-align: center; color:rgb(226, 211, 211) ;"> Kompyuter injiniring <br>  </h1>
    <div class="row">
        <div class="col" style="background-color:rgb(106, 106, 138);"><h2 style="text-align:center ;">Informatika asoslari</h2>
            <p>Informatika asoslari fanidan ma'lumot ketadi bu yerda</p>
        </div>
        <div class="col" style="background-color:rgb(106, 106, 138);"><h2 style="text-align:center ;">Mexatronika va robotatexnika</h2>
            <p>Mexatronika va robotatexnika haqida ma'lumot ketadi bu yerda</p>
        </div>
        <div class="col" style="background-color:rgb(106, 106, 138);"><h2 style="text-align:center ;">Kibervavfsizlik</h2>
            <p>Kiberxavfsizlik haqida ma'lumot ketadi bu yerda</p>
        </div>
    </div>


</div>

<div style="background-color: rgb(77, 57, 57) ;">

    <div class="row">
        <div class="col">
            <div class="card" style="width:390px">
                <img class="card-img-top" src="\image\zamdekan.jpg" alt="Card image" style="width:100% ;height: 336px;">
                <div class="card-body">
                    <div class="container">
                        <h3>Xudayberganov Otaxon </h3>
                        <a href="#demo2" class="btn btn-primary" data-toggle="collapse">Ma'lumot olish</a>
                        <div id="demo2" class="collapse">
                            O‘quv ishlari bo‘yicha dekan muovuni
                            Xudayberganov Otaxon Faxriddinovich
                            Qabul vaqti: Har kuni 14:00-17:00
                            <br>Telefon: (0 371) 238-65-16
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col">
            <div class="card" style="width:505px">
                <img class="card-img-top" src="\image\rektor.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <div class="container">
                        <h4 class="card-title" style="font-size:18px ;">Maxkamov Baxtiyor </h4>
                        <a href="#demo1" class="btn btn-primary" data-toggle="collapse">Ma'lumot olish</a>
                        <div id="demo1" class="collapse">
                            Muhammad al-Xorazmiy nomidagi Toshkent axborot texnologiyalari universiteti rektori:
                            Maxkamov Baxtiyor Shuxratovich
                            Iqtisodiyot fanlari doktori,
                            Professor<br>
                            Qabul vaqti: Chorshanba: 16:00-18:00
                            <br> Telefon (+99871) 238-64-15
                            <br>E-mail:  b.maxkamov@tuit.uz
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:390px;" >
                <img class="card-img-top" src="\image\dekan.png" width="10px" height="335px" alt="Card image" style="width:100%">
                <div class="card-body">


                    <div class="container">
                        <h4 class="card-title">Xujamatov Xalimjon</h4>
                        <a href="#demo" class="btn btn-primary" data-toggle="collapse">Ma'lumot olish</a>
                        <div id="demo" class="collapse">
                            Kompyuter injiniringi fakulteti dekani
                            Xujamatov Xalimjon Ergashevich, dotsent,<br>
                            Qabul vaqti: Har kuni 14:00-16:00 (dushanba va shanbadan tashqari)<br>
                            Telefon: (8 371) 238-64-13<br>
                            E-mail: kh.khujamatov@tuit.uz
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div class="footer" style="background-color: rgb(37, 34, 34) ;">

    <div class="row">
        <div class="col-sm-0">.asdsad</div>

        <p style="font-size: 13px; margin-top:70px; color: white">Bu web sahifa Web dasturlash fani uchun
            222-21 guruh talabasi<br>
            Abduraxmonov Anvar tomonidan yozildi<br>
            Murojat uchun <a href="https://t.me/a_anvar_a">Telegram orqali</a> Murojat qilishiz mumkin

        </p>
        <div class="col-sm0">

            <div style=" margin-top: 80px; margin-left: 700px;">

                <a href="https://instagram.com/"><img src="\image\insta.png" style="width:40px ; height: 40px;"></a>
                <a href="https://t.me/a_anvar_a"><img src="\image\tg.png" style="width:40px ; height: 40px;"></a>

                <a href="https://facebook.com"><img src="\image\fcb.png" style="width:40px ; height: 40px;"></a>

            </div>
        </div>
    </div>

</div>

</body>
</html>